

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
}
:root {
    --main-color : #10c4ca ;
    --secodnd-color : #004c4e ;
    --section-padding : 40px;
    --section-background : #f6f6f6;
    --main-transaction: .3s;
}
html {
    scroll-behavior: smooth;
}

body {
     font-family: "Work Sans", sans-serif;
}
.continer {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
 
 
.grid {
     display: grid;
    grid-template-columns: repeat(auto-fill  , minmax(300px,1fr));
}
@media (min-width :768px) {
    .continer {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .continer {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .continer {
        width: 1170px;
    }
}

.specail-heading {
    margin: 0;
    font-size: 100px;
    color: #d3d3d3;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3;
}
.specail-heading + p {
    text-align: center;
    margin: -35px 0 0;
    font-size: 20px;
    color: #333;
}
@media (max-width: 786px) {
    .specail-heading {
        font-size: 70px;
    }
    
}


.header {
    padding: 20px;
}
.header .continer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .continer .logo {
    width: 60px;
}
.header .continer .links {
    position: relative;
}
.header .continer .links:hover ul {
    display: block;
}
.header .continer .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .continer .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.header .continer .links .icon span {
    width: 100%;
    height: 2px;
    margin-bottom: 3px;
    background-color: black;

}
.header .continer .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-transaction);
}

.header .continer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    top: calc(100% + 15px);
   right: 0;
   position: absolute;
   min-width: 200px;
   display: none;
   z-index: 1;
}
.header .continer ul::before {
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -30px;
    right: -2px;
}
.header .continer ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
 
}
.header .continer ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    transition:  var(--main-transaction);
}
.header .continer ul li a:hover {
    padding-left: 25px;
}
 
.landing {
    background-image: url(../images/pexels-eberhardgross-1146642.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
     position: relative;
    
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
     text-align: center;
     width: 320px;
     max-width: 100%;
}
.landing .intro-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .intro-text p {
 font-weight: 20px;
 line-height: 1.8;
}

.features {
    background-color: #f6f6f6;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.features .continer {
 
    grid-gap :20px;
}
.features .continer .feat {
    text-align: center;
    margin-top: 20px 0;
    padding: 20px;
}
.features .continer .feat i {
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.features .continer .feat h3 {
    font-size: 20px;
    font-weight: 800;
}
.features .continer .feat p {
    color: #333;
    line-height: 1.8;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .serv-cont {
    
    grid-gap: 30px;
    margin-top: 50px;
}
 
.services .serv-cont .serv {
    display: flex;
    margin-bottom: 30px;
}
@media (max-width : 768px) {
    .services .serv-cont .serv {
        flex-direction: column;
        text-align: center;
    }
}
.services .serv-cont .serv i {
    flex-basis: 60px;
    color: var(--main-color);
    font-size: 30px;
}
.services .serv-cont .serv .text {
    flex: 1;
    text-align: center;
}
.services .serv-cont .serv .text h3 {
    margin-top: 0;
    font-size: 30px;
    color: var(--secodnd-color);
}
.services .serv-cont .serv .text p {
    color: #333;
    line-height: 1.8;
}
.services .serv-cont .image {
    text-align: center;
    position: relative;
}
.services .serv-cont .image img {
    width: 280px;
    height: 350px;

}
.services .serv-cont .image::before {
    content: '';
    position: absolute;
    background-color: var(--secodnd-color);
    width: 80px;
    height: calc(100% + 50px);
    top: -25px;
    right: 0;
    z-index: -1;
}
@media (max-width : 1200px) {
    .services .serv-cont .image  {
        display: none;
    }
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .cont-port {
   
    grid-gap: 20px;
    margin-top: 50px;
}
.portfolio .cont-port .card {
    background-color: white;
    
    margin: 0;
}
.portfolio .cont-port .card img {
    width: 100%;
    height: 50%;

}
.portfolio .cont-port .card .info {
    padding: 20px;
}
.portfolio .cont-port .card .info h4 {
    font-size: 20px;
    color: #10c4ca;
    margin: 0;
}
.portfolio .cont-port .card .info p {
    margin-bottom: 0;
    margin-top: 40px;
    line-height: 2.5;
    color: #333;
}
@media (max-width : 768px) {
    .portfolio .cont-port .card .info {
        text-align: center;
    }
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .cont-about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about .cont-about .im-about {
    position: relative;
}

.about .cont-about .im-about img  {
width: 300PX;
height: 300PX;
}

@media (max-width : 991px)
{
     .about .cont-about  {
    text-align: center;
    flex-direction: column;
  }
    .about .cont-about .im-about {
        margin: 0 auto 20px;
      
        
    }
  .about .cont-about .im-about::before,
  .about .cont-about .im-about::after {
    display: none;
  }  
  
} 

.about .cont-about .im-about::before {
content: '';
position: absolute;
background-color: #ccc;
width: 60px;
height: calc(100% + 80px);
top: -40px;
left: -10px;
z-index: -1;
}
.about .cont-about .im-about::after {
content: '';
position: absolute;
width: 100px;
height: 60%;
border-left: 60px solid var(--main-color);
border-bottom: 60px solid var(--main-color);
right: -120px;
top: -40px;
z-index: -1;
}

.about .cont-about .info-about {
    flex-basis: calc(100% - 500px);
    margin-top: 30px;
}
.about .cont-about .info-about p:first-of-type {
    font-weight: bold;
    line-height: 1.5;
}
.about .cont-about .info-about hr {
    display: inline-block;
    border-color: var(--main-color);
    width: 50%;
}
.about .cont-about .info-about p:last-of-type {
    color: #777;
    line-height: 1.8;
}
 
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    margin-top: 20px;
}
.contact .text-contact {
    margin-top: 50px;
    text-align: center;
  
}
.contact .text-contact .label {
    font-size: 40px;
    font-weight: bold;
    color: var(--secodnd-color);
    letter-spacing: -2px;
}
.contact .text-contact .link {
    display: block;
    text-decoration: none;
    font-size: 30px;
    margin: 0 auto 30px;
    color: red;
}
@media (max-width : 768px) {
    .contact .text-contact .label {
        font-size: 25px;
    }
    .contact .text-contact .link {
        font-size: 20px;

    }
    .contact .text-contact .text-icon {
        font-size: 10px;
    }
}
.contact .text-contact .text-icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
 
  

}
.contact .text-contact .text-icon i {
    margin-left: 10px;
    color: var(--main-color);
}
.footer {
    background-color: var(--secodnd-color);
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: white;
    font-size: 20px;
}
.footer span {
    font-weight: bold;
    color: #10c4ca;
}